html, body{
  height:100%;
}

.header {
}

.header-main {
  padding-top: 12px;
  background-color: #1a1a1a;
  height:50px;
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-secondary {
  padding-top: 12px;
  background-color: #4d4d4d;
  height:50px;
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.viz {
}

.viz-main {
   height:1000px;
}

.viz-secondary {
   height:1000px;
   background-color: #333333;
}


.link {
  fill: none;
  stroke: #00ffff;
  stroke-opacity: .5;
}

.link:hover {
  stroke-opacity: 1;
}

.tabLabels{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
