<div class="container-fluid">
	<div class="row header">
		<div class="col-md-9 header-main">
			Delegations Network
		</div>
		<div class="col-md-3 header-secondary">
		</div>
	</div>
</div>
<div class="container-fluid" style="height:calc(100% - 50px)">
	<div class="row viz" style="height:100%">
		<div class="col-md-9 viz-main" style="height:100%">
      <div graph style="height:100%"></div>
		</div>
		<div class="col-md-3 viz-secondary" style="height:100%">
			<div sankey style="height:100%"></div>
		</div>
	</div>
</div>
